# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon
# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

CommonComponents/bin/
CommonComponents/obj/
DevProviders/bin/
DevProviders/obj/
HostConsoleApp/bin/
HostConsoleApp/obj/
Informagator.v12.suo
Informagator/bin/
Informagator/obj/
packages/
ProdProviders/bin/
ProdProviders/obj/
Tests/obj/
Tests/bin/

Tests/bin/Debug/Tests.dll
Tests/bin/Debug/HostConsoleApp.exe
Tests/bin/Debug/Acadian.Informagator.ProdProviders.pdb
Tests/bin/Debug/Acadian.Informagator.DevProviders.dll
Tests/bin/Debug/Acadian.Informagator.CommonComponents.dll
