<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
    <section name="informagator" type="Informagator.DevProviders.DotNetConfiguration.InformagatorConfigurationSection, Informagator.DevProviders"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="Informagator" providerName="System.Data.SqlClient" connectionString="Data Source=localhost\SS2012;Initial Catalog=Informagator;Integrated Security=True;"/>
    <add name="InformagatorEntities" connectionString="metadata=res://*/ConfigurationModel.csdl|res://*/ConfigurationModel.ssdl|res://*/ConfigurationModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SS2012;initial catalog=Informagator;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ConfigurationEntities" connectionString="metadata=res://*/Configuration.ConfigurationModel.csdl|res://*/Configuration.ConfigurationModel.ssdl|res://*/Configuration.ConfigurationModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\SS2012;initial catalog=Informagator;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <informagator>
    <machines>
      <machine hostName="Development" ipAddress="127.0.0.1" adminServicePort="9002" infoServicePort="9003" suppressParentErrorHandlers="false">
        <workers>
          <worker name="test"
                  assemblyName="Informagator.CommonComponents.dll"
                  assemblyVersion="1.0.0.0"
                  type="Informagator.CommonComponents.Workers.PollingStageWorker"
                  autoStart="true"
                  suppressParentErrorHandlers="false">
            <parameters>
              <parameter name="key" value="jnk">
              </parameter>
            </parameters>
            <stages>
              <stage name="supplyIt" assemblyName="Informagator.CommonComponents.dll"
                     assemblyVersion="1.0.0.0"
                     type="Informagator.CommonComponents.SupplierStages.DataTableSupplier"
                     >
                <parameters>
                  <parameter name="Server" value="localhost" />
                  <parameter name="Database" value="Informagator" />
                  <parameter name="SqlStatement" value="select 1 as Id, 4 as description, 5 as value" />
                </parameters>
                <errorHandlers>
                  <errorHandler name="jnk"
                                assemblyName="Informagator.CommonComponents.dll"
                                assemblyVersion="1.0.0.0"
                                type="Informagator.CommonComponents.ErrorHandlers.IgnoreErrorHandler">
                    <parameters>
                      <parameter name="jnk" value="jnk">
                      </parameter>
                    </parameters>
                  </errorHandler>
                </errorHandlers>
              </stage>
              <stage name="transformIt" assemblyName="Informagator.CommonComponents.dll"
                     assemblyVersion="1.0.0.0"
                     type="Informagator.CommonComponents.TransformStages.DataTableToObjectTransform"
                     >
                <parameters>
                  <parameter name="BodyAssembly" value="SandboxCustom.dll" />
                  <parameter name="BodyAssemblyVersion" value="1.0.0.0" />
                  <parameter name="BodyTypeName" value="SandboxCustom.TestMessageBody" />
                </parameters>
                <errorHandlers>
                  <errorHandler name="jnk"
                                assemblyName="Informagator.CommonComponents.dll"
                                assemblyVersion="1.0.0.0"
                                type="Informagator.CommonComponents.ErrorHandlers.IgnoreErrorHandler">
                    <parameters>
                      <parameter name="jnk" value="jnk">
                      </parameter>
                    </parameters>
                  </errorHandler>
                </errorHandlers>
              </stage>
              <stage name="transformItAgain" assemblyName="SandboxCustom.dll"
                     assemblyVersion="1.0.0.0"
                     type="SandboxCustom.TestHL7Transform"
                     >
              </stage>
            </stages>
            <errorHandlers>
              <errorHandler name="jnk"
                            assemblyName="Informagator.CommonComponents.dll"
                            assemblyVersion="1.0.0.0"
                            type="Informagator.CommonComponents.ErrorHandlers.IgnoreErrorHandler">
              </errorHandler>
            </errorHandlers>
          </worker>
        </workers>
        <errorHandlers>
          <errorHandler name="jnk"
                        assemblyName="Informagator.CommonComponents.dll"
                        assemblyVersion="1.0.0.0"
                        type="Informagator.CommonComponents.ErrorHandlers.IgnoreErrorHandler">
          </errorHandler>
        </errorHandlers>
      </machine>
    </machines>
    <errorHandlers>
      <errorHandler name="jnk"
                    assemblyName="Informagator.CommonComponents.dll"
                    assemblyVersion="1.0.0.0"
                    type="Informagator.CommonComponents.ErrorHandlers.IgnoreErrorHandler">
      </errorHandler>
    </errorHandlers>
  </informagator>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <register type="Informagator.Contracts.Providers.IAssemblyProvider, Informagator.Contracts" mapTo="Informagator.DevProviders.FileSystemAssemblySource, Informagator.DevProviders" >
        <lifetime type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
      </register>
      <register type="Informagator.Contracts.Providers.IConfigurationProvider, Informagator.Contracts" mapTo="Informagator.DevProviders.AppConfigFileConfigurationProvider, Informagator.DevProviders" >
        <lifetime type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
      </register>
      <register type="Informagator.Contracts.WorkerServices.IMessageStore, Informagator.Contracts" mapTo="Informagator.DevProviders.MemoryMessageStore, Informagator.DevProviders" >
        <lifetime type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
      </register>
      <register type="Informagator.Contracts.WorkerServices.IMessageTracker, Informagator.Contracts" mapTo="Informagator.DevProviders.MemoryMessageTracker, Informagator.DevProviders" >
        <lifetime type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
      </register>
      <register type="Informagator.Contracts.WorkerServices.IAssemblyManager, Informagator.Contracts" mapTo="Informagator.Machine.DefaultAssemblyManager, Informagator.Machine" >
        <lifetime type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
        <constructor>
          <param name="assemblyProvider">
            <dependency />
          </param>
        </constructor>
      </register>
    </container>
    <!--<container>
      <register type="Informagator.Contracts.Providers.IAssemblyProvider, Informagator.Contracts" mapTo="Informagator.ProdProviders.DatabaseAssemblyStore, Informagator.ProdProviders" >
        <lifetime type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
      </register>
      <register type="Informagator.Contracts.Providers.IConfigurationProvider, Informagator.Contracts" mapTo="Informagator.ProdProviders.DatabaseConfigurationProvider, Informagator.ProdProviders" >
        <lifetime type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
      </register>
      <register type="Informagator.Contracts.WorkerServices.IMessageStore, Informagator.Contracts" mapTo="Informagator.ProdProviders.DatabaseMessageStore, Informagator.ProdProviders" >
        <lifetime type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
      </register>
      <register type="Informagator.Contracts.WorkerServices.IMessageTracker, Informagator.Contracts" mapTo="Informagator.ProdProviders.DatabaseMessageTracker, Informagator.ProdProviders" >
        <lifetime type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
      </register>
      <register type="Informagator.Contracts.WorkerServices.IAssemblyManager, Informagator.Contracts" mapTo="Informagator.Machine.DefaultAssemblyManager, Informagator.Machine" >
        <lifetime type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
        <constructor>
          <param name="assemblyProvider">
            <dependency />
          </param>
        </constructor>
      </register>
    </container>-->
  </unity>
</configuration>