<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="Informagator" providerName="System.Data.SqlClient" connectionString="Data Source=localhost;Initial Catalog=Informagator;Integrated Security=True;"/>
    <add name="InformagatorEntities" connectionString="metadata=res://*/ConfigurationModel.csdl|res://*/ConfigurationModel.ssdl|res://*/ConfigurationModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Informagator;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ConfigurationEntities" connectionString="metadata=res://*/Configuration.ConfigurationModel.csdl|res://*/Configuration.ConfigurationModel.ssdl|res://*/Configuration.ConfigurationModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=Informagator;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <register type="Informagator.Contracts.Providers.IAssemblyProvider, Informagator.Contracts" mapTo="Informagator.DevProviders.FileSystemAssemblySource, Informagator.DevProviders" >
        <lifetime type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
      </register>
      <register type="Informagator.Contracts.Providers.IConfigurationProvider, Informagator.Contracts" mapTo="Informagator.DevProviders.HardCodedConfigurationProvider, Informagator.DevProviders" >
        <lifetime type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
      </register>
      <register type="Informagator.Contracts.WorkerServices.IMessageStore, Informagator.Contracts" mapTo="Informagator.DevProviders.MemoryMessageStore, Informagator.DevProviders" >
        <lifetime type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
      </register>
      <register type="Informagator.Contracts.WorkerServices.IMessageTracker, Informagator.Contracts" mapTo="Informagator.DevProviders.MemoryMessageTracker, Informagator.DevProviders" >
        <lifetime type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
      </register>
      <register type="Informagator.Contracts.WorkerServices.IAssemblyManager, Informagator.Contracts" mapTo="Informagator.Machine.DefaultAssemblyManager, Informagator.Machine" >
        <lifetime type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
        <constructor>
          <param name="assemblyProvider">
            <dependency />
          </param>
        </constructor>
      </register>
    </container>
  </unity>
</configuration>